<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">

  <mat-form-field appearance="fill">
    <mat-label>Старый пароль</mat-label>
    <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
      <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="oldPasswordControl?.invalid && oldPasswordControl?.touched">
    <span *ngIf="oldPasswordControl?.hasError('required')">Введите пароль</span>
    <span *ngIf="oldPasswordControl?.hasError('minlength')">Пароль должен содержать больше 6 символов</span>
  </mat-error>

  <mat-form-field appearance="fill">
    <mat-label>Новый пароль</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="newPasswordControl?.invalid && newPasswordControl?.touched">
    <span *ngIf="newPasswordControl?.hasError('required')">Введите пароль</span>
    <span *ngIf="newPasswordControl?.hasError('minlength')">Пароль должен содержать больше 6 символов</span>
  </mat-error>

  <mat-form-field appearance="fill" >
    <mat-label>Повторите новый пароль</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="confirmNewPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
      <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="confirmNewPasswordControl?.invalid && confirmNewPasswordControl?.touched">
    <span *ngIf="confirmNewPasswordControl?.hasError('required')">Введите пароль еще раз</span>
    <span *ngIf="confirmNewPasswordControl?.hasError('mustMatch')">Пароли не совпадают</span>
  </mat-error>


  <button mat-raised-button type="submit">Изменить</button>
</form>
