<form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">

  <mat-form-field appearance="fill">
    <mat-label>Новый пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="passwordControl?.invalid && passwordControl?.touched">
    <span *ngIf="passwordControl?.hasError('required')">Введите пароль</span>
    <span *ngIf="passwordControl?.hasError('minlength')">Пароль должен содержать больше 6 символов</span>
  </mat-error>

  <mat-form-field appearance="fill" >
    <mat-label>Повторите пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    </button>
  </mat-form-field>
  <mat-error *ngIf="confirmPasswordControl?.invalid && confirmPasswordControl?.touched">
    <span *ngIf="confirmPasswordControl?.hasError('required')">Введите пароль еще раз</span>
    <span *ngIf="confirmPasswordControl?.hasError('mustMatch')">Пароли не совпадают</span>
  </mat-error>


  <button mat-raised-button type="submit">Изменить</button>
</form>
