<form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
  <mat-error *ngIf="emailControl?.invalid && emailControl?.touched">
    <span *ngIf="emailControl?.hasError('required')">Введите email</span>
    <span *ngIf="emailControl?.hasError('email')">Некорректный email</span>
  </mat-error>
  <button mat-raised-button type="submit">Отправить</button>
</form>
