mat-card .mat-images {
  margin: 20px;
  img {
    width: 20%;
    height: 20%;
    margin: 10px;
  }
}


.avatar {
  width: 45px;
  height: 45px;
  margin-top: 4px;
  margin-right: 15px;
}

a {
  color: currentColor;
}

.buttons {
  button {
    margin-left: 20px;
  }
}